/*
    APP LAGOUT
*/

/* imports font */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body {
    font-family: 'Rubik';
    background-color:#F4EEF3 
}

.content {
    color: black;
}

h1 {
    text-align: center;
    color: #2F303D;
    font-size: 60px;
}

h2 {
    text-align: center;
    color: #F4EEF3;
    font-size: 24;
}