/*
    CARD LAGOUT
*/

/* card container */
.cardContainer {
    background-color: #7FBACB;
    box-shadow: 0 0 3px #1b0000;
    padding: 10px;
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    border-radius: 10px;
}

/*contacts formatting */
/*formats card in contactrs */
.contactContainer .cardContainer {
    background-color: #7A746D;

    border-radius: 12px;
    padding: 18px;

    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.25);

    transition: transform 0.2s ease, box-shadow 0.2s ease;
}


/* projects formatting */
/*formats header in projects  card*/
.projectsContainer .cardHeader {
    margin-top: 20px;
    text-align: center;
    font-size: 40px;
}
/* formats media in projects card */
.projectsGrid .cardMedia {
    width: 100%;
    height: 700px; 
    overflow: hidden;
    margin-bottom: 30px;
}
/*formats image in projects card */
.projectsGrid .cardMedia img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
    margin-top: 30px;
}